{{- if .Params.showPosts }}
  <h3>Posts</h3>
  <ul id="posts">
    {{- range sort (where .Site.RegularPages "Section" .Section) ".File.BaseFileName" "desc" }}
      <li style="margin-bottom: 0.4em;">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <span style="margin-left: 20px; color: gray; font-size: 0.8em;">
          l.u: {{ with .Lastmod }}{{ .Format "Jan 2, 2006" }}{{ else }}{{ .Date.Format "Jan 2, 2006" }}{{ end }}
        </span>      
      </li>
    {{- end }}
  </ul>
{{- end }}
